ref/GameAttackCombos_Src/ComboClient/Service References/ComboServices/ComboPackagesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://gurugames.com/packages/" elementFormDefault="qualified" targetNamespace="http://gurugames.com/packages/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DownloadComboPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientPackageVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadComboPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadComboPackageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>